@{
    ViewData["Title"] = "Courses";
}

<div class="container">
    <div class="row justify-content-md-center">
    
        <video controls style="height: 500px">
        <source src="~/assets/videos/Video_1.mp4" type="video/mp4">
    </video>
 
</div>


    <h1 class="text-center">Overview</h1>
    <hr />
    <div class="about_text col-md-6">
        <h3>About this course</h3>
        <p>This course is about teaching you how to make great thumbnail.</p>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h5>Description</h5>
        </div>
        <div class="col-md-8" style="float:left">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
    


</div>