@{
    ViewData["Title"] = "Learn With Friend";
}

<h1>Learn with friend online</h1>


<div class="text-center">
    <a href="./Question" id="post-button">+ Post a Question</a>
</div>

<div class="container rounded mt-5" style="border: 1px solid black">
  <div class="row justify-content-between">
    <div class="col-4">
      <h1>Project Title</h1>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-success m-2 float-md-end">Edit</button>
      <button type="button" class="btn btn-danger m-2 float-md-end">Delete</button>
    </div>
  </div>
  <div>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, urna consequat felis vehicula 
          class ultricies mollis dictumst, aenean non a in donec nulla. Phasellus ante pellentesque 
          erat cum risus consequat imperdiet aliquam, integer placerat et turpis mi eros nec lobortis 
          taciti, vehicula nisl litora tellus ligula porttitor metus. </p>
  </div>
  <div class="container">
      <input type="text" class="form-control mb-2" placeholder="Add comment"/>
  </div>
</div>
<div class="container rounded mt-3" style="border: 1px solid black">
  <div class="row justify-content-between">
    <div class="col-4">
      <h1>Project Title</h1>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-success m-2 float-md-end">Edit</button>
      <button type="button" class="btn btn-danger m-2 float-md-end">Delete</button>
    </div>
  </div>
  <div>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, urna consequat felis vehicula 
          class ultricies mollis dictumst, aenean non a in donec nulla. Phasellus ante pellentesque 
          erat cum risus consequat imperdiet aliquam, integer placerat et turpis mi eros nec lobortis 
          taciti, vehicula nisl litora tellus ligula porttitor metus. </p>
  </div>
  <div class="container">
      <input type="text" class="form-control mb-2" placeholder="Add comment"/>
  </div>
</div>