@{
    ViewData["Title"] = "Post your question";
}

<div class="container mt-3">
    <h3 class="text-center">Post Your Query</h3>
    <hr />
        <div class="mb-3">
    <label for="questionTitle" class="form-label">Post Title</label>
     <input type="text" class="form-control" id="questionTitle">
    </div>
    <div class="mb-3">
    <label for="postDescription" class="form-label">Post Description</label>
    <textarea class="form-control" id="postDescription" rows="3"></textarea>
    </div>
    <button class="btn btn-success">Post</button>
</div>