@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>This is home page</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>This is col md 8</h1>
            </div>
            <div class="col-md-4">
                <h1>This is col md 4</h1>
            </div>
        </div>
    </div>
</div>
