@{
    ViewData["Title"] = "Home Page";
}

<h1 class="pt-2">Here are new courses you might like</h1>
    


<div class="container">
  <div class="row">
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/assets/img_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Create Great Thumbnail</h5>
                <p class="card-text">In this course you will be taught to create the beautiful youtube thubmnail for your youtube videos.</p>
                <h4 class="card-text">Rs. 500</h4>    
                <a href="~/Buy/Buy" class="btn btn-primary">Buy now</a>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/assets/img_2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Attractive Thumbnail</h5>
                <p class="card-text">In this course you will be taught to create the beautiful youtube thubmnail for your youtube videos.</p>
                <h4 class="card-text">Rs. 700</h4>    
                <a href="#" class="btn btn-primary">Buy now</a>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/assets/img_3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Forex Trading Course</h5>
                <p class="card-text">You will be taught how to start with forex trading and master it.</p>
                <h4 class="card-text">Rs. 1200</h4>    
                <a href="#" class="btn btn-primary">Buy now</a>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/assets/img_4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">React Js for Begineer</h5>
                <p class="card-text">Full Course on React Js, you will start with 0 knowledge and master react js watching this video.</p>
                <h4 class="card-text">Rs. 1500</h4>    
                <a href="#" class="btn btn-primary">Buy now</a>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/assets/img_5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Flutter Begineer 01</h5>
                <p class="card-text">Video on how to install and get started with working in flutter.</p>
                <h4 class="card-text">Rs. 1000</h4>    
                <a href="#" class="btn btn-primary">Buy now</a>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="container pt-4">
        <div class="row">
            <div class="card" style="width: 18rem;">
            <img src="~/assets/img_6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">ASP.NET Tricks to use</h5>
                <p class="card-text">Some of the development tips and tricks you can use while developing application using .NET.</p>
                <h4 class="card-text">Rs. 500</h4>    
                <a href="#" class="btn btn-primary">Buy now</a>
            </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
