@{
    ViewData["Title"] = "Buy Now";
}

<div class="container pt-4">
  <div class="row p-3" style="background-color:#f7d4d4">
    <div class="col">
      <img src="~/assets/img_1.jpg" class="card-img-top" alt="...">
    </div>
    <div class="col my-auto">
      <h1 class="card-title">Create Great Thumbnail</h1>
      <p class="card-text" style="font-size: 25px">In this course you will be taught to create the beautiful youtube thubmnail for your youtube videos.</p>
      <h4 class="card-text">Rs. 500</h4>    
      <a asp-controller="Course" asp-action="Course" class="btn btn-primary">Enroll now</a>   
  </div>
  </div>
</div>

<div class="container pt-4">
<div class="row">
    <h1>What You Will Learn</h1>
    <p>Buy enrolling in this course, you will learn the following:</p>
    <ul>
        <li>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </li>
        <li>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </li>
        <li>
             It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
        </li>
    </ul>
</div>    

</div>